
@{
    ViewBag.Title = "Categories";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section css{

}

@section center{
   
<h3>Kategoriler</h3>
<p>Bu ekranda misafirlerinizi ayırabileceğiniz kategorileri listeleyebilir, silebilir veya yenilerini ekleyebilirsiniz.</p>
<br />


<div class="row">
    <div class="col-sm-12">

        <div class="panel panel-default">

            <div class="panel-body">

                <form role="form" class="form-horizontal">

                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="field-1">Kategori Adı</label>

                        <div class="col-sm-7">
                            <input type="text" class="form-control" id="field-1" placeholder="Placeholder" value="Damat Aile">
                        </div>

                        <div class="col-sm-3">
                            <button class="btn btn-success">Kaydet</button>
                            <button class="btn btn-primary">Geri Al</button>
                            <button class="btn btn-red">Sil</button>
                        </div>
                    </div>

                    <div class="form-group-separator"></div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="field-1">Kategori Adı</label>

                        <div class="col-sm-7">
                            <input type="text" class="form-control" id="field-1" placeholder="Placeholder" value="Gelin Aile">
                        </div>

                        <div class="col-sm-3">
                            <button class="btn btn-success">Kaydet</button>
                            <button class="btn btn-primary">Geri Al</button>
                            <button class="btn btn-red">Sil</button>
                        </div>
                    </div>

                    <div class="form-group-separator"></div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="field-1">Kategori Adı</label>

                        <div class="col-sm-7">
                            <input type="text" class="form-control" id="field-1" placeholder="Placeholder" value="Damat Okul">
                        </div>

                        <div class="col-sm-3">
                            <button class="btn btn-success">Kaydet</button>
                            <button class="btn btn-primary">Geri Al</button>
                            <button class="btn btn-red">Sil</button>
                        </div>
                    </div>

                    <div class="form-group-separator"></div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="field-1">Kategori Adı</label>

                        <div class="col-sm-7">
                            <input type="text" class="form-control" id="field-1" placeholder="Placeholder" value="Gelin İş">
                        </div>

                        <div class="col-sm-3">
                            <button class="btn btn-success">Kaydet</button>
                            <button class="btn btn-primary">Geri Al</button>
                            <button class="btn btn-red">Sil</button>
                        </div>
                    </div>

                    <div class="form-group-separator"></div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="field-1">Kategori Adı</label>

                        <div class="col-sm-7">
                            <input type="text" class="form-control" id="field-1" placeholder="Placeholder" value="Damat İş">
                        </div>

                        <div class="col-sm-3">
                            <button class="btn btn-success">Kaydet</button>
                            <button class="btn btn-primary">Geri Al</button>
                            <button class="btn btn-red">Sil</button>
                        </div>
                    </div>

                </form>

            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <h2>Yeni Kategori Ekle</h2>
        <div class="panel panel-default">

            <div class="panel-body">

                <form role="form" class="form-horizontal">

                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="field-1">Kategori Adı</label>

                        <div class="col-sm-7">
                            <input type="text" class="form-control" id="field-1" placeholder="Kategori ismi giriniz...">
                        </div>

                        <div class="col-sm-3">
                            <button class="btn btn-success">Kaydet</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
}

@section script{

}








