
@{
    ViewBag.Title = "Notes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section css{
    
}

@section center{
   
<div class="row">
    <div class="col-sm-12">
        <div class="xe-widget xe-conversations">
            <div class="xe-bg-icon"> <i class="linecons-comment"></i> </div> <div class="xe-header">
                <div class="xe-icon"> <i class="linecons-comment"></i> </div> <div class="xe-label">
                    <h3>
                        Notlar
                        <small>Bu ekranda düğün salon yetkililerine düğününüzle ilgili iletmek veya tekrar hatırlatmak istediklerinizi gönderebilirsiniz.</small>
                    </h3>
                </div>
            </div> 
            <div class="xe-body"> 
                <ul class="list-unstyled"> 
                    <li> 
                        <div class="xe-comment-entry">
                            
                            <div class="xe-widget xe-counter xe-counter-blue" data-count=".num" data-from="1" data-to="117" data-suffix="k" data-duration="3" data-easing="false"> 
                                <div class="xe-icon"> <i class="linecons-lightbulb"></i> 
                                </div>  
                            </div> 
                                           
                            <div class="xe-comment"> 
                                <a href="#" class="xe-user-name">
                                     <strong>Jack Gates</strong> 
                                </a>
                                <p>In it except to so temper mutual tastes mother. Interested cultivated its continuing now yet are. 
                                    Out interested acceptance our partiality affronting unpleasant why add. Esteem garden me...
                                </p>
                                <div class="pull-right">
                                    <button class="btn btn-icon btn-red"> <i class="fa-remove"></i> </button>
                                </div>
                                <div class="pull-right">
                                    <button class="btn btn-icon btn-warning"> <i class="fa-wrench"></i> </button>
                                </div>
                            </div> 
                            
                            
                      </div>
                    </li> 
                    <li> 
                        <div class="xe-comment-entry">   
                            <div class="xe-widget xe-counter xe-counter-red" data-count=".num" data-from="1" data-to="117" data-suffix="k" data-duration="3" data-easing="false">
                                <div class="xe-icon">
                                    <i class="linecons-lightbulb"></i>
                                </div>
                            </div>                     
                            <div class="xe-comment"> 
                                <a href="#" class="xe-user-name"> 
                                    <strong>Arlind Nushi</strong> 
                                </a> 
                                <p>Age sold some full like rich new. Amounted repeated as believed in confined juvenile.</p>
                                <div class="pull-right">
                                    <button class="btn btn-icon btn-red" id="remove"> <i class="fa-remove"></i> </button>
                                </div>
                                <div class="pull-right">
                                    <button class="btn btn-icon btn-warning"> <i class="fa-wrench"></i> </button>
                                </div> 
                            </div> 
                        </div> 
                    </li> 
                    <li> 
                        <div class="xe-comment-entry"> 
                            <div class="xe-widget xe-counter xe-counter-yellow" data-count=".num" data-from="1" data-to="117" data-suffix="k" data-duration="3" data-easing="false">
                                <div class="xe-icon">
                                    <i class="linecons-lightbulb"></i>
                                </div>
                            </div>     
                            <div class="xe-comment"> 
                                <a href="#" class="xe-user-name"> 
                                    <strong>Bryan Green</strong> 
                                </a> 
                                <p>Stuff sight equal of my woody. Him children bringing goodness suitable she entirely put far daughter.</p> 
                                <div class="pull-right">
                                    <button class="btn btn-icon btn-red"> <i class="fa-remove"></i> </button>
                                </div>
                                <div class="pull-right">
                                    <button class="btn btn-icon btn-warning"> <i class="fa-wrench"></i> </button>
                                </div> 
                            </div> 
                        </div> 
                    </li> 
               </ul> 
            </div> 
            <div class="xe-footer"> 
                <a href="#">View All</a> 
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <h2>Yeni Not Ekle</h2>
        <div class="panel panel-default">

            <div class="panel-body">

                <form role="form" class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="field-5">İleteceğiniz metni girin</label>

                        <div class="col-sm-7">
                            <textarea class="form-control" cols="5" id="field-5"></textarea>
                        </div>

                        <div class="col-sm-3">
                            <button class="btn btn-success">Kaydet</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
}

@section script{
    
}
