
@{
    ViewBag.Title = "Notes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section css{
    
}

@section center{
   <h3>Notlar</h3>
<p>Bu ekranda düğün salon yetkililerine düğününüzle ilgili iletmek veya tekrar hatırlatmak istediklerinizi gönderebilirsiniz.</p>
<br />


<div class="row">
    <div class="col-sm-12">

        <div class="panel panel-default">

            <div class="panel-body">

                <form role="form" class="form-horizontal">

                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="field-5">02.05.2015 tarihinde eklendi</label>

                        <div class="col-sm-7">
                            <textarea class="form-control" cols="5" id="field-5" >
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur consequat eleifend aliquam. Donec sagittis auctor auctor. Praesent at sem tempor, imperdiet neque non, tristique ligula. Morbi mollis egestas finibus. Vestibulum pulvinar malesuada tempus. Cras sagittis ipsum eros.
                            </textarea>
                        </div>

                        <div class="col-sm-3">
                            <button class="btn btn-success">Kaydet</button>
                            <button class="btn btn-primary">Geri Al</button>
                            <button class="btn btn-red">Sil</button>
                        </div>
                    </div>

                    <div class="form-group-separator"></div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="field-5">02.05.2015 tarihinde eklendi</label>

                        <div class="col-sm-7">
                            <textarea class="form-control" cols="5" id="field-5">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur consequat eleifend aliquam. Donec sagittis auctor auctor. Praesent at sem tempor, imperdiet neque non, tristique ligula. Morbi mollis egestas finibus. Vestibulum pulvinar malesuada tempus. Cras sagittis ipsum eros.
                            </textarea>
                        </div>

                        <div class="col-sm-3">
                            <button class="btn btn-success">Kaydet</button>
                            <button class="btn btn-primary">Geri Al</button>
                            <button class="btn btn-red">Sil</button>
                        </div>
                    </div>

                    <div class="form-group-separator"></div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="field-5">02.05.2015 tarihinde eklendi</label>

                        <div class="col-sm-7">
                            <textarea class="form-control" cols="5" id="field-5">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur consequat eleifend aliquam. Donec sagittis auctor auctor. Praesent at sem tempor, imperdiet neque non, tristique ligula. Morbi mollis egestas finibus. Vestibulum pulvinar malesuada tempus. Cras sagittis ipsum eros.
                            </textarea>
                        </div>

                        <div class="col-sm-3">
                            <button class="btn btn-success">Kaydet</button>
                            <button class="btn btn-primary">Geri Al</button>
                            <button class="btn btn-red">Sil</button>
                        </div>
                    </div>

                    <div class="form-group-separator"></div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="field-5">02.05.2015 tarihinde eklendi</label>

                        <div class="col-sm-7">
                            <textarea class="form-control" cols="5" id="field-5">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur consequat eleifend aliquam. Donec sagittis auctor auctor. Praesent at sem tempor, imperdiet neque non, tristique ligula. Morbi mollis egestas finibus. Vestibulum pulvinar malesuada tempus. Cras sagittis ipsum eros.
                            </textarea>
                        </div>

                        <div class="col-sm-3">
                            <button class="btn btn-success">Kaydet</button>
                            <button class="btn btn-primary">Geri Al</button>
                            <button class="btn btn-red">Sil</button>
                        </div>
                    </div>

                    <div class="form-group-separator"></div>

                </form>

            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <h2>Yeni Not Ekle</h2>
        <div class="panel panel-default">

            <div class="panel-body">

                <form role="form" class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="field-5">İleteceğiniz metni girin</label>

                        <div class="col-sm-7">
                            <textarea class="form-control" cols="5" id="field-5"></textarea>
                        </div>

                        <div class="col-sm-3">
                            <button class="btn btn-success">Kaydet</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
}

@section script{
    
}
