
@{
    ViewBag.Title = "Notes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section css{
    
}

@section center{
   
<div class="row">
    <div class="col-sm-12">
        <div class="xe-widget xe-conversations">
            <div class="xe-bg-icon"> <i class="linecons-comment"></i> </div> <div class="xe-header">
                <div class="xe-icon"> <i class="linecons-comment"></i> </div> <div class="xe-label">
                    <h3>
                        Notlar
                        <small>Bu ekranda düğün salon yetkililerine düğününüzle ilgili iletmek veya tekrar hatırlatmak istediklerinizi gönderebilirsiniz.</small>
                    </h3>
                </div>
            </div> 
            <div class="xe-body"> 
                <ul class="list-unstyled"> 
                    <li> 
                        <div class="xe-comment-entry">
                            
                            <div class="xe-widget xe-counter xe-counter-blue" data-count=".num" data-from="1" data-to="117" data-suffix="k" data-duration="3" data-easing="false"> 
                                <div class="xe-icon"> <i class="linecons-lightbulb"></i> 
                                </div>  
                            </div> 
                                           
                            <div class="xe-comment"> 
                                <a href="#" class="xe-user-name">
                                     <strong>Jack Gates</strong> 
                                </a>
                                <p>In it except to so temper mutual tastes mother. Interested cultivated its continuing now yet are. 
                                    Out interested acceptance our partiality affronting unpleasant why add. Esteem garden me...
                                </p>
                                <div class="pull-right">
                                    <button class="btn btn-icon btn-red"> <i class="fa-remove"></i> </button>
                                </div>
                                <div class="pull-right">
                                    <button class="btn btn-icon btn-warning" onclick="jQuery('#modal-6').modal('show', {backdrop: 'static'});"> <i class="fa-pencil"></i> </button>
                                </div>
                            </div> 
                            
                            
                      </div>
                    </li> 
                    <li> 
                        <div class="xe-comment-entry">   
                            <div class="xe-widget xe-counter xe-counter-red" data-count=".num" data-from="1" data-to="117" data-suffix="k" data-duration="3" data-easing="false">
                                <div class="xe-icon">
                                    <i class="linecons-lightbulb"></i>
                                </div>
                            </div>                     
                            <div class="xe-comment"> 
                                <a href="#" class="xe-user-name"> 
                                    <strong>Arlind Nushi</strong> 
                                </a> 
                                <p>Age sold some full like rich new. Amounted repeated as believed in confined juvenile.</p>
                                <div class="pull-right">
                                    <button class="btn btn-icon btn-red" id="remove"> <i class="fa-remove"></i> </button>
                                </div>
                                <div class="pull-right">
                                    <button class="btn btn-icon btn-warning" onclick="jQuery('#modal-6').modal('show', {backdrop: 'static'});"> <i class="fa-pencil"></i> </button>
                                </div> 
                            </div> 
                        </div> 
                    </li> 
                    <li> 
                        <div class="xe-comment-entry"> 
                            <div class="xe-widget xe-counter xe-counter-yellow" data-count=".num" data-from="1" data-to="117" data-suffix="k" data-duration="3" data-easing="false">
                                <div class="xe-icon">
                                    <i class="linecons-lightbulb"></i>
                                </div>
                            </div>     
                            <div class="xe-comment"> 
                                <a href="#" class="xe-user-name"> 
                                    <strong>Bryan Green</strong> 
                                </a> 
                                <p>Stuff sight equal of my woody. Him children bringing goodness suitable she entirely put far daughter.</p> 
                                <div class="pull-right">
                                    <button class="btn btn-icon btn-red"> <i class="fa-remove"></i> </button>
                                </div>
                                <div class="pull-right">
                                    <button class="btn btn-icon btn-warning" onclick="jQuery('#modal-6').modal('show', {backdrop: 'static'});"> <i class="fa-pencil"></i> </button>
                                </div> 
                            </div> 
                        </div> 
                    </li> 
               </ul> 
            </div> 
            <div class="xe-footer"> 
                <a href="#">View All</a> 
            </div>
        </div>
    </div>
</div>



<div class="row">
    <button class="btn btn-info btn-icon btn-icon-standalone btn-lg center-block" onclick="jQuery('#modal-7').modal('show', {backdrop: 'static'});"> <i class="fa-plus"></i> <span>Yeni Not Gir</span> </button>
</div>

<div class="modal fade in" id="modal-6" aria-hidden="false" >
    
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Not Güncelleme</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group no-margin">
                            <label for="field-7" class="control-label">Not Adı</label>
                            <textarea class="form-control autogrow" id="field-7" placeholder="Write something about yourself" style="overflow: hidden; word-wrap: break-word; resize: horizontal; height: 50px;"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">Kapat</button>
                <button type="button" class="btn btn-info">Kaydet</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade in" id="modal-7" aria-hidden="false">

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Yeni Not</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group no-margin">
                            <label for="field-7" class="control-label">Yeni Not Adı </label>
                            <textarea class="form-control autogrow" id="field-7" placeholder="Yeni Notunuzu Giriniz" style="overflow: hidden; word-wrap: break-word; resize: horizontal; height: 50px;"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">Kapat</button>
                <button type="button" class="btn btn-info">Kaydet</button>
            </div>
        </div>
    </div>
</div>

}

@section script{
    
}
